
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
header{
  text-align:center;
  color:white;
  text-shadow: 1px 1px 2px #888;
  font-size:50px
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35px;
}

.result-container{
  background-color: rgba(255,255,255,0.7);
  border:1px solid #000;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
}

.result{
  color: black;
  text-shadow: 1px 1px 2px #888;
  font-size: 25px;
}

.reset-btn{
  border: 1px;
  color:#000;
  cursor: not-allowed;
  background-color: white;
  width: 100px;
  height: 40px;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}
 
.reset-btn:hover{
  background-color: #000;
  color:white;
}

/* Increase the cell size */
.cell {
  width: 100px;
    height: 100px;
    font-size: 40px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    color: black;
}


